 /*positioning.css*/

h1 {
    padding: 20px;
	position: fixed;
    margin-bottom: 20px;
    margin: 0px;
    background: #888;
    width: 100%;
    float: left;
}

h3 {
    box-sizing: border-box;
    padding: 20px;
	position: fixed;
    margin-bottom: 20px;
    margin: 0px;
    background: #888;
    width: 100%;
    float: left;
}



#middle {
    padding: 20px;
    position: fixed;
    margin-bottom: 20px;
    margin: 0px;
    background: #888;
    width: 100%;
    float: left;
}